<p class="about">L’histoire de la maison débute en 1964, avec la création des éditions Tchou, qui sont à l’origine de célèbres collections comme « Les Murs ont la parole » ou « Les Guides noirs » et de succès éditoriaux comme « La Vilaine Lulu », bande dessinée d’Yves Saint-Laurent publiée en 1967, devenue un classique. 

Au début des années quatre-vingt, le succès des collections « Les Grandes Découvertes de la psychanalyse », « Le Corps à vivre » et « Les Grands Livres du zodiaque » permettent à la maison de se développer. Ainsi, en 1986, les éditions Sand-Tchou reprennent les éditions Mengès, dont le fonds comprenait notamment la célèbre collection « Vivre » (« Vivre Venise », « Vivre Sienne »…) La maison oriente alors sa ligne éditoriale vers la création de beaux livres d’excellence : aux meilleures photographies et illustrations sont désormais associés les textes des plus éminents spécialistes. 

Une fantastique collaboration s’engage par exemple avec Jean-Marie Pérouse de Montclos, qui a signé à ce jour près d’une dizaine de titres aux éditions Mengès. Son « Versailles », à l’appui du célèbre reportage de Robert Polidori, demeure une référence mondiale, vingt ans après sa parution.

La marque Place des Victoires est créée à la fin des années quatre-vingt-dix afin d’aborder des sujets plus contemporains en architecture et en design, de publier de beaux livres sur des artistes du monde du spectacle, ou encore des livres pratiques avec la collection « Et si j’apprenais », tout en reprenant le fonds d’art classique des éditions Mengès.</p>
