<% provide(:title, "Contact") %>
<h1>Nous contacter</h1>

<p>Tél : +33 (0)1 44 55 37 50<br> 
   Fax : +33 (0)1 40 20 99 74<br>
E-mail: info@editions-menges.com</p>


<h1>Notre adresse</h1>
  
<p>6 rue du Mail<br>
   75002 Paris</p>
  
<p>Nous sommes situés tout prêt des stations:<br>
   Bourse et Sentier, ligne 3 du metro</p>
  
  
  