<% provide(:title, "Contact") %>
<div class="container-fluid contact">
  <div class="row">
    <div class="col-md-6" id="livre">
      
     <div id="map" style="width: 100%; height: 400px;"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
  var myLatlng = new google.maps.LatLng(48.866356,2.341799);

  var myOptions = {
      zoom: 14,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: []
  };

  var map = new google.maps.Map(document.getElementById('map'), myOptions);
  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: "You are here!"
  });
</script> 
    </div>
    <div class="col-md-6">
      <h1>Nous contacter</h1>
<p>Tél : +33 (0)1 44 55 37 50<br> 
   Fax : +33 (0)1 40 20 99 74<br>
E-mail: info@editions-menges.com</p>


<h1>Notre adresse</h1>
  
<p>6 rue du Mail<br>
   75002 Paris</p>
  
<p>Nous sommes situés tout prêt des stations:<br>
   Bourse et Sentier, ligne 3 du metro</p>
    </div>
    
  </div>
</div>
  
  