
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <p>Société des Editions Mengès<br>
         SARL au capital de 200 000 €<br>
         RC Paris B 95 00 25 569<br>
        Code NIF : FR 21 950 025569</p>
      <p>6, rue du Mail – 75002 Paris<br>
         Tél : +33 (0)1 44 55 37 50<br>
         Fax : +33 (0)1 40 20 99 74<br>
         http://www.editions-menges.com/</p>
         
    </div>
  </div>
 </div>

  