<div class="author">

<h1>Les auteurs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.firstname %></td>
        <td><%= author.lastname %></td>
        <td><%= author.bio %><td>
     
      </tr>
    <% end %>
  </tbody>
</table>



<div class="spacer"></div>
</div>
