<div class="author">

<h1>Les auteurs</h1>




  
    <% @authors.each do |author| %>
     
     <%= author.firstname %>
     <%= author.lastname %>
     <%= author.bio %><br>


    <% end %>



<div class="spacer"></div>
</div>
