<h1 class='text-center'>Livres</h1>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_books_path %></li>
  <% end %>
</ul>

<div class="container-fluid photobook">
  <div class="row text-center">
    <% @books.each_with_index do |book, index| %>
      <div class="col-md-3 photobook">
        <%= link_to book.title, book_path(book)%><br>
        <%= image_tag(book.image_url) %>
      </div>
    <% end %>
  </div>
</div>

<nav><%= paginate @books, :window => 2 %></nav>






