<h1 class='text-center'>Livres</h1>

<div class="container-fluid photobook">
  <div class="row text-center">
    <% @books.each_with_index do |book, index| %>
      <div class="col-md-3 photobook">
        <%= book.title %><br>
        <%= image_tag(book.image_url) %>
      </div>
    <% end %>
  </div>
</div>

<nav><%= paginate @books, :window => 2 %></nav>






