<h1 class='text-center'>Livres</h1>



<div class="container-fluid photobook">
  <div class="row text-center">
     <% @books.each do |book| %>
  
       <div class="col-md-3 photobook">
          <%= book.title %><br>
          <img src="http://placehold.it/150x200"> 
       
       </div>
    
     <% end %>
  </div>

   
</div>

<nav><%= paginate @books, :window => 2 %></nav>




    

