<h1 class="text-center">Tous les thèmes</h1>


 <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
    <% @categories.each do |category| %>

      <%= category.name %><br>
    <% end %>
      </div>
  </div>
</div>



