<!DOCTYPE html>
<html>
<head>
  <title>Editions_Menges_Place_Des_Victoires</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
 
  <header>
    <p><img src="logo"/></p>
    <nav>
    <ul>
      <li>Home</li>
      <li>Contact</li>
      <li>Info pratiques</li>
      <li>Boutique</li>
      </ul>
    </nav>
    
 </header>
  
 
  
<body>

<%= yield %>

</body>
</html>
